.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100vh;
}

.left-component, .right-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.left-component {
  background-color: #eee;
}

.right-component {
  background-color: #ddd;
}

h2 {
  text-align: center;
}
.response-container {
  max-height: 300px;
  overflow-y: scroll;
}

.response-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.response-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.response-name {
  font-weight: bold;
}

.response-status {
  font-style: italic;
}

