<!DOCTYPE html>
<html>

<head>
  <title>Two Components, Left and Right</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    .container {
      display: flex;
      flex-direction: column;
    }

    .main {
      width: 100vw;
      height: 100vh;
      background-color: #fff;
    }

    .message {
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    .time {
      /* padding-right: 10px; */
      border: 1px solid #ccc;
      border-radius: 30px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .msg {
      padding: 10px;
      margin: 0px;
    }
  </style>

  <link rel="stylesheet" href="{{ url_for('static', filename='meeting_room.css') }}">
  <!-- <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Get the video element
        var video = document.getElementById('video');
         
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
          video.srcObject = stream;
          video.play();
          // Set up a canvas element to capture frames from the video
          var canvas = document.createElement('canvas');
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          var context = canvas.getContext('2d');

          // Set up a timer to capture frames every 200ms (5 frames in 1 second)
          var interval = setInterval(function() {
            // Draw the current frame from the video to the canvas
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageDataUrl = canvas.toDataURL('image/jpeg');

            console.log(imageDataUrl)
            // console.log(context)


        

            // let formData = new FormData();
			      // formData.append('image' , input.files[0]);
            // // Send the image data to the Flask backend using an AJAX request
            // $.ajax({
            //   url: '/run_eye_tracking',
            //   method: 'POST',
            //   data: { image_data: imageDataUrl },
            //   success: function(response) {
            //     console.log(response);
            //   }
            // });
          }, 200);

          // Stop capturing frames after 5 seconds (1000ms * 5 frames = 1000ms * 5 / 200ms = 25)
          setTimeout(function() {
            clearInterval(interval);
          }, 5000);
        });
      });
    </script> -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script type=text/javascript>
            function myFunction() {
    fetch('/run_eye_tracking')
}

    </script>
</head>

<body>
  <div class="container">
    <!-- <div class="left-component">
         <a href="{{ url_for('run_eye_tracking') }}">Function 1</a> 
        <h2>Student Webcam</h2>
        video id="video"></video> 
      </div> -->
    <!-- <div class="right-component"> -->
    <form>
      <a href=# id=test><button class='btn btn-default'>Test</button></a>
    </form>
    <button onclick="myFunction()">Click me</button>
    <h2>Topics</h2>
    <div class="scrollable-view">
      <div class="main">
        <div class="message">
          <span class="time">23:06</span>
          <h3 class="msg">This is th etext message to be added</h3>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</body>

</html>